<section id="team" class="team">
    <div class="container" data-aos="fade-up">

   
        <div class="section-title">
            <h2>Team</h2>
            <p>PIs/Co-Is</p>
        </div>

        <div class="row">

            {% for person in site.data.people.pi_coi %}
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                            <img src="assets/img/team/{{ person.image_filename }}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>{{ person.name }}</h4>
                            <span>{{ person.desc }}</span>
                            <span>{{ person.institution }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        
        <div class="section-title">
            <h2></h2>
            <p>Research Staff</p>
        </div>

        

    </div>
</section>