<section id="wp" class="services">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Work Packages</h2>
        <p>Our vision addresses socio-technical limitations of LLMs that challenge their responsible and trustworthy use, considering legal and medical contexts as the main use cases.</p>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div id="wp1" class="icon"><i class="ri-survey-line"></i></div>
            <h4>Criteria</h4>
            <p>Systematic and wide-ranging surveys and co-creation with domain experts.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-3 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div id="wp2" class="icon"><i class="ri-bar-chart-box-line"></i></div>
            <h4>Evaluation</h4>
            <p>Providing reliable automated means to evaluate LLMs by a broad range of suitability criteria, metrics and tasks</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-3 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div id="wp3" class="icon"><i class="ri-flow-chart"></i></div>
            <h4>Reasoning</h4>
            <p>Advance methods to augmenting LLMs with temporal reasoning and situational awareness, and to combine multi-modal data with temporal reasoning.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-3 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div id="wp4" class="icon"><i class="ri-question-answer-line"></i></div>
              <h4>Interactions</h4>
              <p>TODO - Catalyse community integration and co-create with non-academic partners to help them adopt the benchmark, methods and techniques we develop together into their approaches, services, products.</p>
            </div>
          </div>

        <div class="col-lg-4 col-md-3 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div id="wp5" class="icon"><i class="ri-open-arm-line"></i></div>
            <h4>Use Cases</h4>
            <p>Catalyse community integration and co-create with non-academic partners to help them adopt the benchmark, methods and techniques we develop together into their approaches, services, products.</p>
          </div>
        </div>


      </div>

    </div>
</section>